node_modules
dist-ssr
*.local
.env
.env.*
!.env.example
.DS_Store
.vscode
coverage
*.log
pnpm-lock.yaml
yarn.lock
*.tsbuildinfo
.parcel-cache
.turbo
.eslintcache
.cache
out
/.idea
/.next
storybook-static
/.vercel
/.netlify
README.md
/docs   
.zip
.exe
*.sql
